@model IEnumerable<FPT_AppDev.Models.TrainerTopic>

@{
  ViewBag.Title = "Index";
}

<h2>Assign Trainer to Topic</h2>
@if (User.IsInRole("Staff"))
{
  <p>
    @Html.ActionLink("Assign Trainer To Topic", "Create")
  </p>

  <table class="table table-bordered" style="max-width: 80%; margin: 27px 0px 20px 120px;">
    <tr>
      <th width="15%">
        Trainer Name
      </th>
      <th width="15%">
        Topic
      </th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @item.Trainer.UserName
        </td>
        <td>
          @item.Topic.Name
        </td>
      </tr>
    }

  </table>
}
@if (User.IsInRole("Trainer"))
{<table class="table">
    <tr>
      <th>
        Topic
      </th>
      <th></th>
    </tr>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @item.Topic.Name
        </td>
      </tr>
    }
  </table>
}
