@model FPT_AppDev.ViewModels.ProfileTraineeTrainerViewModel
@{
  ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated && User.IsInRole("Staff") || User.IsInRole("Trainee"))
{
  <h3>Trainee</h3>
  <table class="table table-striped">
    <tr>
      <th>Emails</th>
      <th>Roles</th>

      <th></th>
    </tr>
    <tr>
      <td>
        @Model.SingleTrainee.Email
      </td>
      <td>
        @Model.SingleTrainee.RoleName
      </td>
    </tr>
  </table>
}